---
// backend
import { registerEtudiant } from '../../backend/backend.mjs';
import Header from '../../src/components/Header.astro';
import Footer from '../../src/components/Footer.astro';

let message = '';

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = await registerEtudiant(formData);
    message = response.message;
}
---

<Header />
<h1 class="text-xl font-semibold mb-4">Créer un compte étudiant</h1>
<p class="text-red-600">{message}</p>

<form action="/connecte " method="POST" class="flex flex-col gap-3 max-w-md">
    <input type="text" name="name" placeholder="Nom et prénom" required class="input" />
    <input type="email" name="email" placeholder="Adresse email universitaire" required class="input" />
    <input type="password" name="mot_de_passe" placeholder="Mot de passe" required class="input" />
    <input type="text" name="campus" placeholder="Campus (ex: Montbéliard)" required class="input" />
    <input type="text" name="centre_interet" placeholder="Centre d’intérêt (ex: sport, cinéma...)" class="input" />
    
    <button type="submit" class="bg-purple-700 text-white py-2 px-4 rounded hover:bg-purple-800">
        Créer mon compte
    </button>
</form>
<Footer />
