---
const year = new Date().getFullYear();
---
<footer class="relative overflow-hidden bg-(--color-orange) p-6">
  <div class="rounded-3xl bg-pink-500 p-2">
    <div class="rounded-3xl bg-(--color-violet) p-8 text-center text-(--color-orange)">
      <h2 class="mb-4 text-4xl font-bold">Ici, c'est 100% étudiant.</h2>
      <h3 class="mb-12 text-4xl font-bold">Bienvenue sur Fac'Link !</h3>

      <div class="mb-10 flex justify-center">
       <img src="/src/assets/logo.svg" alt="" class="h-40" />
      </div>

      <h4 class="mb-8 text-3xl font-bold">Contactez-Nous :</h4>

    <div class="flex justify-center space-x-4 mb-8">
        <img src="/src/assets/instagram.svg" alt="Instagram" class="h-12 w-12" />
        <img src="/src/assets/tiktok.svg" alt="TikTok" class="h-12 w-12" />
        <img src="/src/assets/pinterest.svg" alt="Facebook" class="h-12 w-12" />
        
    </div>

      <div class="mb-4 text-white">
        <p class="text-lg">Nos réseaux: faclink_off</p>
        <p class="text-lg">Email : faclink.contact@gmail.com</p>
        <p class="text-lg">Téléphone : +33 1 28 48 68 88</p>
        <p class="text-lg">Adresse : 4 Pl. Lucien Tharradin, 25200 Montbéliard</p>
      </div>

    <div class="text-sm text-white/80 text-left">
      <p>© {year} Fac'Link - projet réalisé en {year} dans le cadre d'un exercice pédagogique au département MMi de Montbéliard</p>
      <p class="mt-2"><a href="/aspectlegaux" class="underline hover:text-white">Aspects légaux</a></p>
    </div>
    </div>
  </div>
</footer>
