---
const currentPath = Astro.url.pathname;
import logo from '../assets/logo.svg';
---

<header class="top-0 left-0 w-full sticky flex items-center justify-between px-4 md:px-8 lg:px-16 h-16 md:h-20 bg-[var(--color-violet)] text-white z-30">
  <a href="/" class="flex items-center gap-2 z-50">
    <img src={logo.src} alt="Logo FacLink" class="w-auto h-12" />
  </a>
  <button
    id="menu-btn"
    class="group relative z-50 flex h-3 w-6 flex-col justify-between lg:hidden *:block *:ease *:h-0.5 *:w-full *:transform *:rounded-full *:bg-white *:transition *:duration-300"
    aria-label="Menu"
    aria-controls="menu"
    aria-expanded="false"
  >
    <span class="group-aria-expanded:translate-y-[5px] group-aria-expanded:rotate-45"></span>
    <span class="group-aria-expanded:-translate-y-[5px] group-aria-expanded:-rotate-45"></span>
  </button>
  <nav
    id="menu"
    class="no-scroll font-sans flex-1 px-6 py-12 flex justify-between mt-20 flex-col fixed z-40 inset-0 bg-[var(--color-violet)] transition-opacity duration-300
    opacity-0 invisible lg:mt-0 lg:flex-row lg:static lg:bg-transparent lg:py-0 lg:opacity-100 lg:visible overflow-x-hidden"
    aria-hidden="true"
  >
    <ul class="items-center flex flex-col gap-4 lg:flex-row lg:gap-8">
      <li>
        <a class="block p-4 rounded-lg hover:text-pink-400" href="/a-propos">À propos</a>
      </li>
      <li>
        <a class="block p-4 rounded-lg hover:text-pink-400" href="/fonctionnalites">Fonctionnalités</a>
      </li>
      <li>
        <a class="block p-4 rounded-lg hover:text-pink-400" href="/infos-pratiques">Infos pratiques</a>
      </li>
      <li>
        <a class="block p-4 rounded-lg hover:text-pink-400" href="/contactez-nous">Contactez-nous</a>
      </li>
      <li class="lg:hidden">
        <a class="block p-4 rounded-lg bg-[var(--color-rose)] hover:bg-pink-400 text-white text-center" href="/inscription">Inscrit toi</a>
      </li>
      <li class="lg:hidden">
        <a class="block p-4 rounded-lg bg-[var(--color-orange)] hover:bg-orange-400 text-white text-center" href="/connexion">Connexion</a>
      </li>
    </ul>
    <div class="hidden lg:flex items-center space-x-4">
      <a href="/inscription" class="bg-[var(--color-rose)] hover:bg-pink-400 text-white rounded-full px-4 py-2 text-sm">Inscrit toi</a>
      <a href="/connexion" class="bg-[var(--color-orange)] hover:bg-orange-400 text-white rounded-full px-4 py-2 text-sm">Connexion</a>
    </div>
  </nav>
</header>

<script>
  const toggle = document.querySelector("#menu-btn");
  const nav = document.querySelector("#menu");
  const page = document.body;

  if (toggle && nav) {
    toggle.addEventListener("click", () => {
      const isOpen = toggle.getAttribute("aria-expanded") === "true";

      toggle.setAttribute("aria-expanded", String(!isOpen));
      nav.setAttribute("aria-hidden", String(isOpen));

      if (isOpen) {
        nav.classList.add("opacity-0", "invisible");
        page.classList.remove("overflow-hidden");
      } else {
        nav.classList.remove("opacity-0", "invisible");
        page.classList.add("overflow-hidden");
      }
    });
  }
</script>