---
const currentPath = Astro.url.pathname;
---

<header class="top-0 left-0 w-full sticky flex items-center px-4 md:px-8 lg:px-16 h-16 md:h-20 bg-[var(--color-violet)] text-white z-30 space-x-5">
  <a href="/" class="flex items-center text-xl">
   <img src="/src/assets/logo.svg" alt="logo">
  </a>

  <nav class="hidden lg:flex items-center ml-20 w-full justify-between">
    <div class="flex items-center space-x-10">
    <a href="/a-propos" class="hover:text-pink-400">À propos</a>
    <a href="/fonctionnalites" class="hover:text-pink-400">Fonctionnalités</a>
    <a href="/infos-pratiques" class="hover:text-pink-400">Infos pratiques</a>
    <a href="/contactez-nous" class="hover:text-pink-400">Contactez-nous</a>
</div>
    <div class="flex items-center space-x-4">
        <a href="/inscription" class="bg-[var(--color-rose)] hover:bg-pink-400 text-white rounded-full px-4 py-2 text-sm">Inscrit toi</a>
          <a href="/connexion" class="bg-[var(--color-orange)] hover:bg-orange-400 text-white rounded-full px-4 py-2 text-sm">Connecte toi</a>
      </div>
</nav>


  <div class="lg:hidden right-0 flex items-center ml-auto">
    <button id="menu-btn" class="outline-none focus:outline-none" aria-label="Menu">
      <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
        <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
      </svg>
    </button>
  </div>

  <div
    id="menu"
    class="hidden lg:hidden absolute top-full left-0 w-full h-screen bg-[var(--color-violet)] text-white py-4 flex flex-col items-center justify-center gap-4 z-20"
  >
    <a href="/a-propos" class="hover:text-pink-400 w-full text-center py-2">À propos</a>
    <a href="/fonctionnalites" class="hover:text-pink-400 w-full text-center py-2">Fonctionnalités</a>
    <a href="/infos-pratiques" class="hover:text-pink-400 w-full text-center py-2">Infos pratiques</a>
    <a href="/contactez-nous" class="hover:text-pink-400 w-full text-center py-2">Contactez-nous</a>
    <a href="/inscription" class="bg-[var(--color-rose)] hover:bg-pink-500 text-white rounded-full px-4 py-2 text-sm w-fit">Inscrit toi</a>
    <a href="/connexion" class="bg-[var(--color-orange)] hover:bg-orange-500 text-white rounded-full px-4 py-2 text-sm w-fit">Connecte toi</a>
    <p class="text-sm mt-2">accès uniquement avec un email universitaire valide</p>
  </div>
</header>

<script>
  const toggle = document.querySelector("#menu-btn");
  const nav = document.querySelector("#menu");
  const body = document.body;

  if (toggle && nav) {
    toggle.addEventListener("click", () => {
      nav.classList.toggle("hidden");
      body.classList.toggle("overflow-hidden");
    });
  }
</script>